<h4>Resultados</h4>
<mat-form-field appearance="fill">
  <mat-label>Elija un juego</mat-label>
  <mat-select (selectionChange)="toggleChild($event.value)">
    <mat-option *ngFor="let juego of juegos" [value]="juego.value">
      {{juego.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-tabla-ppt [mostrarTablaPPT]="mostrarPPT"></app-tabla-ppt>
<app-tabla-tateti [mostrarTablaTateti]="mostrarTateti"></app-tabla-tateti>
<app-tabla-adivina [mostrarTablaAdivina]="mostrarAdivina"></app-tabla-adivina>
<app-tabla-arimetica [mostrarTablaArimetica]="mostrarAgilidad"></app-tabla-arimetica>
<app-tabla-memotest [mostrarTablaMemotest]="mostrarMemotest"></app-tabla-memotest>
<app-tabla-anagrama [mostrarTablaAnagrama]="mostrarAnagrama"></app-tabla-anagrama>
<app-tabla-tbb [mostrarTablaTBB]="mostrarTBB"></app-tabla-tbb>

