.resultado{
    
    padding: 70px 0;
    text-align: center;
}

.cuenta{
    
    padding: 30px 0;
    text-align: center;
}

.resolver{
    
    padding: 30px 0;
    text-align: center;
}



h1{
    font-size: 90px;
}
