
<div class="divTateti">
    <br>
    <div class="divbuttonsArriba">
        <button mat-raised-button id="button0" class="button" (click)="insertarX0()"><img id="img0" src="../../../../assets/nada.png" width="40" height="40"></button>
        <button mat-raised-button id="button1" class="button" (click)="insertarX1()"><img id="img1" src="../../../../assets/nada.png" width="40" height="40"></button>
        <button mat-raised-button id="button2" class="button" (click)="insertarX2()"><img id="img2" src="../../../../assets/nada.png" width="40" height="40"></button>
    </div>
    <br>
    <div class="divbuttonsMedio">
        <button mat-raised-button id="button3" class="button" (click)="insertarX3()"><img id="img3" src="../../../../assets/nada.png" width="40" height="40"></button>
        <button mat-raised-button id="button4" class="button" (click)="insertarX4()"><img id="img4" src="../../../../assets/nada.png" width="40" height="40"></button>
        <button mat-raised-button id="button5" class="button" (click)="insertarX5()"><img id="img5" src="../../../../assets/nada.png" width="40" height="40"></button>
    </div>
    <br>
    <div class="divbuttonsAbajo">
        <button mat-raised-button id="button6" class="button" (click)="insertarX6()"><img id="img6" src="../../../../assets/nada.png" width="40" height="40"></button>
        <button mat-raised-button id="button7" class="button" (click)="insertarX7()"><img id="img7" src="../../../../assets/nada.png" width="40" height="40"></button>
        <button mat-raised-button id="button8" class="button" (click)="insertarX8()"><img id="img8" src="../../../../assets/nada.png" width="40" height="40"></button>
    </div>
</div>
<div class="buttonReiniciar"><button mat-raised-button color="primary" (click)="Reiniciar()">Reiniciar</button></div>
<div><textarea name="" id="registro" cols="20" rows="4" disabled>{{registro}}</textarea></div>