<mat-card>
    <mat-card-title>Registro</mat-card-title>
    <div class="imagen"><img src="../../../assets/control.png" width="50" height="50"></div>
    <mat-card-content>
        <form [formGroup]="registroForm" (ngSubmit)="Registrar(registroForm)">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Correo electronico" formControlName="email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="contraseña" formControlName="password">
                </mat-form-field>
            </p>
            <div class="alert-danger" *ngIf="error">
                <div class="container-error">
                    {{mensaje}}
                </div>
            </div>
            <button class="boton" type="submit" mat-raised-button color="primary">Registrar</button>
            <button class="boton" type="button" mat-raised-button color="primary" (click)="Volver()">Volver</button>
        </form>
    </mat-card-content>
</mat-card>
