
<mat-form-field *ngIf="mostrarTablaPPT">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por usuario, victorias, etc" #input>
</mat-form-field>

<section *ngIf="mostrarTablaPPT" style="margin: 12px 0;">
  <mat-checkbox [(ngModel)]="checked" (click)="MostrarTop()">Mostrar Top 3 mejores partidas</mat-checkbox>
</section>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="mostrarTablaPPT">
  
    
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="victorias">
      <th mat-header-cell *matHeaderCellDef> Victorias </th>
      <td mat-cell *matCellDef="let element"> {{element.victorias}} </td>
    </ng-container>
  
    <ng-container matColumnDef="puntos">
      <th mat-header-cell *matHeaderCellDef> Puntos </th>
      <td mat-cell *matCellDef="let element"> {{element.puntos}} </td>
    </ng-container>
    
    <ng-container matColumnDef="derrotas">
      <th mat-header-cell *matHeaderCellDef> Derrotas </th>
      <td mat-cell *matCellDef="let element"> {{element.derrotas}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="empates">
      <th mat-header-cell *matHeaderCellDef> Empates </th>
      <td mat-cell *matCellDef="let element"> {{element.empates}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha | date:'d/M/yy, h:mm a'}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay resultados</td>
    </tr>
</table>